@await Html.PartialAsync("PageTitle", "Check your e-mail")
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>If you have an account on this website, you should have an e-mail
            within a few minutes with instructions how to reset your password.</p>
        </div>
    </div>
</div>