@model ForgotPasswordViewModel
<div class="page login">
    @await Html.PartialAsync("PageTitle", "Recover your password")

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div asp-validation-summary="All" class="alert alert-danger">
                        <h4 class="alert-heading">Woops</h4>
                        <p>Could not complete your request. Please correct the following errors:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Please enter your e-mail address below and we'll send you a link to reset your password.</p>
                    <div class="form-group">
                        <label asp-for="Email">E-mail address</label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
