@await Html.PartialAsync("PageTitle", "Reset password succesful")
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>You have succesfully reset your password.</p>
        </div>
    </div>
</div>