@model SubmittedCfp
@{
    ViewData["Title"] = "Submit new CFP";
}

<!-- Submit CFP-->
  <div class="submit">
    <div class="title">
      <div class="container">
        <div class="row">
          <div id="SubmitCfpTitle" class="col-lg-12">
            <h2>Submit CFP</h2>
            Fill out the form underneath to submit a CFP you've spotted! Please be sure it is not already in our system.<br /><br />
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Required</h1>
            <p>These fields are required and the minimum amount of information for adding a CFP</p>
            <form id="submitForm" onsubmit="return false;">
            <div class="form-group">
              <label>Event URL <i class="fa fa-spinner fa-spin" id="loadMetadataSpinner" style="font-size: 24px;display: none;"></i></label>
                @Html.EditorFor(model => model.EventUrl, new { htmlAttributes = new { @class = "form-control", onBlur = "javascript: getMetadata(this.value); checkDuplicates(this.value);" } })
                @Html.ValidationMessageFor(model => model.EventUrl, "", new { @class = "text-danger" })
              <small id="eventUrlHelp" class="form-text text-muted">Enter the URL of the event homepage, we'll try to extract some information from there for you. No worries, you can still tweak it!</small>
            </div>

            <div class="alert alert-warning" id="possibleDuplicatesWarning" style="display: none;" role="alert">
                It looks like this CFP might already be added! Please check out these CFPs with a similar event link before adding this CFP to our system. Result(s): <ul class="list-inline" id="duplicatesResult"></ul>
            </div>

            <div class="alert alert-warning" id="metadataError" style="display: none;" role="alert">
                There was a problem loading the event URL. Please double check the URL or enter the details manually.
            </div>
            
            <div class="form-group" id="eventUrlPreview" style="display: none;">
                <a id="eventUrl" class="fragment" href="#" target="_blank">
                    <img src ="@CfpExchange.Helpers.Constants.NoEventImageUrl" style="max-width: 116px;overflow: hidden;" alt="Event image"/> 
                    <h3></h3>
                    <p class="text"></p>
                </a>
                <small id="eventUrlPreviewHelp" class="form-text text-muted"><a href="javascript:editEventData();">Edit this data manually</a></small>
            </div>

             <div class="form-group" id="eventTitleEntry" style="display: none;">
              <label>Event Title</label>
              <input type="text" class="form-control" id="eventTitle">
            </div>

            <div class="form-group" id="eventImageEntry" style="display: none;">
              <label>Event Image URL</label>
              <input type="text" class="form-control" id="eventImage">
            </div>

            <div class="form-group" id="eventDescriptionEntry" style="display: none;">
              <label>Event Description</label>
              <textarea rows="3" class="form-control" id="eventDescription" required>
              </textarea>
            </div>

            <div class="form-group">
                <label>CFP Close Date</label>
                <input asp-for="CfpEndDate" class="form-control col-lg-12" id="eventCfpCloseDate" type="text" readonly>
                <span asp-validation-for="CfpEndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Event Location</label>
                <input asp-for="LocationName" class="form-control" id="eventLocation" type="text">
                <span asp-validation-for="LocationName" style="display: none;" id="locationErrorMessage" class="text-danger">Please search for a location and select a value from the dropdown</span>
            </div>

            <div class="form-group">
                <label>Tags</label>
                <input asp-for="EventTags" name="tags" id="tags" class="form-control" type="text">
                <span asp-validation-for="EventTags" style="display: none;" id="tagsErrorMessage" class="text-danger">Please add a minimum of one tag for this event</span>
            </div>
              
            <h1>Nice to have</h1>
            <p>By providing this information you will help other speakers to find out more about the event, but is not absolutely necessary</p>

            <div class="form-group">
                <label>Event Twitter handle</label>
                <input class="form-control" id="eventTwitterHandle" type="text">
            </div>

            <div class="form-group">
              <label>Direct CFP url</label>
              <input type="text" class="form-control" id="eventCfpDirectUrl">
            </div>

            <div class="form-group">
                <label>Event Dates</label>
                <div class="form-row">
                    <div class="col">
                        <input class="form-control col-lg-12" id="eventStartDate" type="text" placeholder="Start date" readonly>
                    </div>
                    <div class="col">
                        <input class="form-control col-lg-12" id="eventEndDate" type="text" placeholder="End date" readonly>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Offers Accommodation</label>
                        <select class="js-search-category form-control" name="accommodation" id="accommodation" data-placeholder="Choose option">
                            <option value="0">Unknown</option>
                            <option value="1">No</option>
                            <option value="2">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Offers Travel Assistance</label>
                        <select class="js-search-category form-control" name="travelassistance" id="travelassistance" data-placeholder="Choose option">
                            <option value="0">Unknown</option>
                            <option value="1">No</option>
                            <option value="2">Yes</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input class="form-control col-lg-12" id="cfpDecisionDate" type="text" placeholder="CFP decision date" readonly>
            </div>

            <div class="form-group">
                <label>Your name</label>
                <input class="form-control" id="submitterName" type="text">
            </div>
              
            <button type="submit" class="btn btn-submit" id="submitCfpButton" onclick="javascript:submitCfp();">Submit CFP</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgVGJaXfyAu25OCrj3xu7RI0GQvzQY4p4&libraries=places&language=en"></script>
    <script src="/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        var cfpToSubmit = {};
        cfpToSubmit.locationName = null;
        cfpToSubmit.eventUrl = null;
        cfpToSubmit.eventImageUrl = null;
        cfpToSubmit.eventTitle = null;
        cfpToSubmit.eventDescription = null;
        cfpToSubmit.locationLat = null;
        cfpToSubmit.locationLng = null;
        cfpToSubmit.cfpEndDate = null;
        cfpToSubmit.eventStartDate = null;
        cfpToSubmit.eventEndDate = null;
        cfpToSubmit.cfpUrl = null;
        cfpToSubmit.providesAccommodation = null;
        cfpToSubmit.providesTravelAssistance = null;
        cfpToSubmit.submittedByName = null;
        cfpToSubmit.eventTwitterHandle = null;
        cfpToSubmit.eventTags = null;
        cfpToSubmit.cfpDecisionDate = null;

        function submitCfp()
        {
            var formValid = false;
            var locationValid = true;
            var tagsValid = true;

            $('#locationErrorMessage').hide();
            $('#tagsErrorMessage').hide();
        
            formValid = $('#submitForm').valid();
        
            if (cfpToSubmit.locationName === undefined || cfpToSubmit.locationName === null || cfpToSubmit.locationName === '') {
                $('#locationErrorMessage').show();
                locationValid = false;
            }

            if (cfpToSubmit.eventTags === undefined || cfpToSubmit.eventTags === null || cfpToSubmit.eventTags === '') {
                $('#tagsErrorMessage').show();
                tagsValid = false;
            }

            if (!formValid || !locationValid || !tagsValid)
            {
                if (formValid)
                    window.scrollTo(0,0);
        
                return;
            }

            cfpToSubmit.eventTitle = $('#eventTitle').val();
            cfpToSubmit.eventImageUrl = $('#eventImage').val();
            cfpToSubmit.eventDescription = $('#eventDescription').val();
            cfpToSubmit.cfpUrl = $('#eventCfpDirectUrl').val();
            cfpToSubmit.providesAccommodation = $('#accommodation').val();
            cfpToSubmit.providesTravelAssistance = $('#travelassistance').val();
            cfpToSubmit.submittedByName = $('#submitterName').val();
            cfpToSubmit.eventTwitterHandle = $('#eventTwitterHandle').val();

            $('#submitCfpButton').prop('disabled', true);
            $.ajax({
                type: "POST",
                url: "/cfp/submit",
                data: {"submittedCfp":cfpToSubmit},
                success: function(resultId) {
                    var url = '@Url.Action("Details", "cfp", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', resultId);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // TODO need something better than this
                    alert('Whoops, something went wrong! Error: ' + errorThrown);
                    $('#submitCfpButton').prop('disabled', false);
                }
            });
        }

        function getMetadata(url) {
            if (!$('#EventUrl').valid())
                return;

            $('#loadMetadataSpinner').show();
            $('#metadataError').hide();
            hideEditEventData();
        
            $.ajax({
                type: "POST",
                url: "/cfp/getmetadata",
                data: {"url":url},
                success: function(metadata) {
                    if (metadata.hasError)
                    {
                        $('#loadMetadataSpinner').hide();
        
                        $('#metadataError').show();
                        return;
                    }
        
                    cfpToSubmit.eventUrl = metadata.url;
                    cfpToSubmit.eventImageUrl = metadata.imageUrl;
                    cfpToSubmit.eventTitle = metadata.title;
                    cfpToSubmit.eventDescription = metadata.description;
    
                    $('#eventUrlPreview #eventUrl').attr('href', metadata.url);

                    if (metadata.imageUrl === null || metadata.imageUrl === '')
                        $('#eventUrlPreview img').hide();
                    else
                    {
                        $('#eventUrlPreview img').show();
                        $('#eventUrlPreview img').attr('src', metadata.imageUrl);
                    }
    
                    $('#eventUrlPreview h3').text(metadata.title);
                    $('#eventUrlPreview p').html(metadata.description);

                    $('#eventTitle').attr('value', metadata.title);
                    $('#eventImage').attr('value', metadata.imageUrl);
                    $('#eventDescription').val(metadata.description);
                    $('#eventUrlPreview').show();

                    $('#loadMetadataSpinner').hide();

                },
                error: function(err) {
                    $('#loadMetadataSpinner').hide();
                    $('#metadataError').show();
                    editEventData();

                    cfpToSubmit.eventUrl = url;
                }
            });
        }

        function checkDuplicates(url) {
            $('#possibleDuplicatesWarning').hide();

            if (!$('#EventUrl').valid())
                return;
        
            $.ajax({
                type: "POST",
                url: "/cfp/checkduplicates",
                data: {"url":url},
                success: function(result) {
                    // TODO do something with result
                    if (result.isKnown)
                    {
                        var duplicatesText = '';
        
                        for (i = 0; i < result.similarCfps.length; i++)
                        {
                            duplicatesText = duplicatesText + '<li class="list-inline-item"><a href="https://cfp.exchange/cfp/details/' + result.similarCfps[i].id + '" target="_blank">' + result.similarCfps[i].eventName + '</a></li>';
                        }
        
                        $('#duplicatesResult').html(duplicatesText);
                        $('#possibleDuplicatesWarning').show();
                    }
                },
                error: function() {
                    // This functionality is nice, but not blocking if it fails
                    $('#possibleDuplicatesWarning').hide();
                }
            });
        }

        function editEventData() {
            // TODO
            $('#eventTitleEntry').show();
            $('#eventImageEntry').show();
            $('#eventDescriptionEntry').show();
            $('#eventUrlPreview').hide();
        }

        function hideEditEventData() {
            // TODO
            $('#eventTitleEntry').hide();
            $('#eventImageEntry').hide();
            $('#eventDescriptionEntry').hide();
        }

        $(document).ready(function() {
            $('#eventStartDate').datepicker({
                startView: 1,
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(e) {
                $('#eventEndDate').datepicker('setStartDate', e.date);
                cfpToSubmit.eventStartDate = e.date.toLocaleDateString("en-US");
            });

            $('#eventEndDate').datepicker({
                startView: 1,
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(e) {
                cfpToSubmit.eventEndDate = e.date.toLocaleDateString("en-US");
            });

            $('#eventCfpCloseDate').datepicker({
                startView: 1,
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(e) {
                cfpToSubmit.cfpEndDate = e.date.toLocaleDateString("en-US");
            });

            $('#cfpDecisionDate').datepicker({
                startView: 1,
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(e) {
                cfpToSubmit.cfpDecisionDate = e.date.toLocaleDateString("en-US");
            });

            var autocomplete = new google.maps.places.Autocomplete(document.getElementById('eventLocation'));

            autocomplete.addListener('place_changed', function() {
                  var place = autocomplete.getPlace();
                  if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                  }
        
                $('#locationErrorMessage').hide();
        
                cfpToSubmit.locationName = document.getElementById('eventLocation').value;
                cfpToSubmit.locationLat = place.geometry.location.lat();
                cfpToSubmit.locationLng = place.geometry.location.lng();
             }); 

            $('#tags').tagsInput({
                'defaultText':'',
                'onChange': function(input,tag) {
                    var tags = $.map(
                      $("#tags_tagsinput").children("span").children("span"), 
                      function(element) {
                          return $(element).text().trim()
                      }).join(";");

                    cfpToSubmit.eventTags = tags;
                }
            });
        });
    </script>
}

@section Styles {
    <link href="/css/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/css/plugins/jquery-tags-input/jquery.tagsinput.min.css" rel="stylesheet">
}