@{
    ViewData["Title"] = "Submit new CFP";
}

<!-- Submit CFP-->
  <div class="submit">
    <div class="title">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Submit CFP</h2>
            Fill out the form underneath to submit a CFP you've spotted! Please be sure it is not already in our system.<br /><br />
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Required</h1>
            <p>These fields are required and the minimum amount of information for adding a CFP</p>
            <div class="form-group">
              <label>Event URL <i class="fa fa-spinner fa-spin" id="loadMetadataSpinner" style="font-size: 24px; display:none;"></i></label>
              <input type="text" class="form-control" onblur="javascript: getMetadata(this.value); checkDuplicates(this.value);">
              <small id="eventUrlHelp" class="form-text text-muted">Enter the URL of the event homepage, we'll try to extract some information from there for you. No worries, you can still tweak it!</small>
            </div>

            <div class="alert alert-warning" id="possibleDuplicatesWarning" style="display: none;" role="alert">
                It looks like this CFP might already be added! Please check out these CFPs with a similar event link before adding this CFP to our system. Result(s): <ul class="list-inline" id="duplicatesResult"></ul>
            </div>

            <div class="alert alert-warning" id="metadataError" style="display:none;" role="alert">
                There was a problem loading the event URL. Please double check the URL or enter the details manually.
            </div>
            
            <div class="form-group" id="eventUrlPreview" style="display:none;">
                <a id="eventUrl" class="fragment" href="#" target="_blank">
                    <img src ="@CfpExchange.Helpers.Constants.NoEventImageUrl" style="max-width: 116px; max-height: 116px;overflow:hidden;" alt="Event image"/> 
                    <h3></h3>
                    <p class="text"></p>
                </a>
                <small id="eventUrlPreviewHelp" class="form-text text-muted"><a href="javascript:editEventData();">Edit this data manually</a></small>
            </div>

             <div class="form-group" id="eventTitleEntry" style="display:none;">
              <label>Event Title</label>
              <input type="text" class="form-control" id="eventTitle">
              <small id="eventTitleHelp" class="form-text text-muted">Under this title the CFP will be listed</small>
            </div>

            <div class="form-group" id="eventDescriptionEntry" style="display: none;">
              <label>Event Description</label>
              <textarea rows="3" class="form-control" id="eventDescription">
              </textarea>
              <small id="eventDescriptionHelp" class="form-text text-muted">A short description of the event and why you</small>
            </div>

            <div class="form-group">
                <label>CFP Close Date</label>
                <input class="form-control col-lg-12" id="eventCfpCloseDate" type="text" readonly>
                <small id="eventCfpCloseDateHelp" class="form-text text-muted">When does the CFP close?</small>
            </div>

            <div class="form-group">
                <label>Event Location</label>
                <input class="form-control" id="eventLocation" type="text">
                <small id="eventLocationHelp" class="form-text text-muted">Where does the event take place?</small>
            </div>
              
            <h1>Nice to have</h1>
            <p>By providing this information you will help other speakers to find out more about the event, but is not absolutely necessary</p>

            <div class="form-group">
                <label>Your name</label>
                <input class="form-control" id="submitterName" type="text">
                <small id="submittedNameHelp" class="form-text text-muted">If you want the credits, enter your name</small>
            </div>

            <div class="form-group">
              <label>CFP url</label>
              <input type="text" class="form-control" id="eventCfpDirectUrl">
              <small id="eventTitleHelp" class="form-text text-muted">Is there a direct link to the CFP portal? Please let us know here!</small>
            </div>

            <div class="form-group">
                <label>Event Dates</label>
                <div class="form-row">
                    <div class="col">
                        <input class="form-control col-lg-12" id="eventStartDate" type="text" placeholder="Start date" readonly>
                    </div>
                    <div class="col">
                        <input class="form-control col-lg-12" id="eventEndDate" type="text" placeholder="End date" readonly>
                    </div>
                </div>
                <small id="eventDatesHelp" class="form-text text-muted">When does the event take place?</small>
            </div>

            <div class="form-group">
                <label>Offers Accommodation</label>
                <select class="js-search-category form-control" name="accommodation" id="accommodation" data-placeholder="Choose option">
                    <option value="0">Unknown</option>
                    <option value="1">No</option>
                    <option value="2">Yes</option>
                  </select>
            </div>

            <div class="form-group">
                <label>Offers Travel Assistance</label>
                <select class="js-search-category form-control" name="travelassistance" id="travelassistance" data-placeholder="Choose option">
                    <option value="0">Unknown</option>
                    <option value="1">No</option>
                    <option value="2">Yes</option>
                  </select>
            </div>
              
            <button type="submit" class="btn btn-submit" onclick="javascript:submitCfp();">Submit CFP</button>
          </div>
        </div>
      </div>
    </div>
  </div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgVGJaXfyAu25OCrj3xu7RI0GQvzQY4p4&libraries=places&language=en"></script>
    <script src="/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/js/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <script type="text/javascript">
        var cfpToSubmit = {};
        cfpToSubmit.locationName = null;
        cfpToSubmit.eventUrl = null;
        cfpToSubmit.eventImageUrl = null;
        cfpToSubmit.eventTitle = null;
        cfpToSubmit.eventDescription = null;
        cfpToSubmit.locationLat = null;
        cfpToSubmit.locationLng = null;
        cfpToSubmit.cfpEndDate = null;
        cfpToSubmit.eventStartDate = null;
        cfpToSubmit.eventEndDate = null;
        cfpToSubmit.cfpUrl = null;
        cfpToSubmit.providesAccommodation = null;
        cfpToSubmit.providesTravelAssistance = null;
        cfpToSubmit.submittedByName = null;

        function submitCfp()
        {
            // TODO validate
            if (cfpToSubmit.location === null || cfpToSubmit.location === '') {
                // TODO Notify user
                alert('Please search for a location and select a value from the dropdown');
                return;
            }

            cfpToSubmit.eventTitle = $('#eventTitle').val();
            cfpToSubmit.eventDescription = $('#eventDescription').val();
            cfpToSubmit.cfpUrl = $('#eventCfpDirectUrl').val();
            cfpToSubmit.providesAccommodation = $('#accommodation').val();
            cfpToSubmit.providesTravelAssistance = $('#travelassistance').val();
        
            cfpToSubmit.submittedByName = $('#submitterName').val();
        
            $.ajax({
                type: "POST",
                url: "/cfp/submit",
                data: {"submittedCfp":cfpToSubmit},
                success: function(resultId) {
                    var url = '@Url.Action("Details", "cfp", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', resultId);
                }
            });
        }

        function getMetadata(url) {
            $('#loadMetadataSpinner').show();
            $('#metadataError').hide();
        
            $.ajax({
                type: "POST",
                url: "/cfp/getmetadata",
                data: {"url":url},
                success: function(metadata) {
                    if (metadata.hasError)
                    {
                        $('#loadMetadataSpinner').hide();
        
                        $('#metadataError').show();
                        return;
                    }
        
                    cfpToSubmit.eventUrl = metadata.url;
                    cfpToSubmit.eventImageUrl = metadata.imageUrl;
                    cfpToSubmit.eventTitle = metadata.title;
                    cfpToSubmit.eventDescription = metadata.description;
    
                    $('#eventUrlPreview #eventUrl').attr('href', metadata.url);

                    if (metadata.imageUrl === null || metadata.imageUrl === '')
                        $('#eventUrlPreview img').hide();
                    else
                    {
                        $('#eventUrlPreview img').show();
                        $('#eventUrlPreview img').attr('src', metadata.imageUrl);
                    }
    
                    $('#eventUrlPreview h3').text(metadata.title);
                    $('#eventUrlPreview p').html(metadata.description);

                    $('#eventTitle').attr('value', metadata.title);
                    $('#eventDescription').val(metadata.description);
                    $('#eventUrlPreview').show();

                    $('#loadMetadataSpinner').hide();

                },
                error: function(err) {
                    $('#loadMetadataSpinner').hide();
                    $('#metadataError').show();
                    editEventData();

                    cfpToSubmit.eventUrl = url;
                }
            });
        }

        function checkDuplicates(url) {
            $('#possibleDuplicatesWarning').hide();
        
            $.ajax({
                type: "POST",
                url: "/cfp/checkduplicates",
                data: {"url":url},
                success: function(result) {
                    // TODO do something with result
                    if (result.isKnown)
                    {
                        var duplicatesText = '';
        
                        for (i = 0; i < result.similarCfps.length; i++)
                        {
                            duplicatesText = duplicatesText + '<li class="list-inline-item"><a href="https://cfp.exchange/cfp/details/' + result.similarCfps[i].id + '" target="_blank">' + result.similarCfps[i].eventName + '</a></li>';
                        }
        
                        $('#duplicatesResult').html(duplicatesText);
                        $('#possibleDuplicatesWarning').show();
                    }
                },
                error: function() {
                    // This functionality is nice, but not blocking if it fails
                    $('#possibleDuplicatesWarning').hide();
                }
            });
        }

        function editEventData() {
            // TODO
            $('#eventTitleEntry').show();
            $('#eventDescriptionEntry').show();
            $('#eventUrlPreview').hide();
        }

        $(document).ready(function() {
            $('#eventStartDate').datepicker({
                startView: 1,
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(e) {
                $('#eventEndDate').datepicker('setStartDate', e.date);
                cfpToSubmit.eventStartDate = e.date.toISOString();
            });

            $('#eventEndDate').datepicker({
                startView: 1,
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(e) {
                cfpToSubmit.eventEndDate = e.date.toISOString();
            });

            $('#eventCfpCloseDate').datepicker({
                startView: 1,
                startDate: '0d',
                autoclose: true
            }).on('changeDate', function(e) {
                cfpToSubmit.cfpEndDate = e.date.toISOString();
            });

            var autocomplete = new google.maps.places.Autocomplete(document.getElementById('eventLocation'));

            autocomplete.addListener('place_changed', function() {
                  var place = autocomplete.getPlace();
                  if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                  }

                // TODO do something useful with our info
                cfpToSubmit.locationName = document.getElementById('eventLocation').value;
                cfpToSubmit.locationLat = place.geometry.location.lat();
                cfpToSubmit.locationLng = place.geometry.location.lng();
             }); 
        });
    </script>
}

@section Styles {
    <link href="/css/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link href="/css/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet">
}